body {background-image:url(https://www.kibrispdr.org/data/147/fixie-wallpaper-17.jpg)
    
}

h1 {color: bisque;

}

.p1{ color: aliceblue;

}

.fuente
 {font-family: 'Times New Roman', Times, serif;

}

